.content {
  display: grid;
  grid-column: 2;
  grid-template-rows:
    max-content
    min-content;
  grid-template-columns: 1fr;
  justify-self: center;
}

@media screen and (max-width: 630px) {
  .content {
    grid-template-rows: min-content;
  }
}
