.modal {
  background-color: #21212166;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: visibility 0.4s ease, opacity 0.4s;
  padding: 0 10px;
}

.modal_is-open {
  visibility: visible;
  opacity: 1;
  transition: 0.4s;
}

.modal__container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0;
  border-radius: 8px;
  max-width: 730px;
  flex-grow: 1;
}

.modal__row {
  display: flex;
  margin: 32px 50px 27px;
  align-items: center;
  justify-content: space-between;
}

.modal__close {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #fff;
  padding: 0;
  margin: 0;
  opacity: 0.4;
  transition: 0.3s;
  cursor: pointer;
}

.modal__image-container {
  display: flex;
  flex-direction: column;
}

.modal__image {
  width: 100%;
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
  display: block;
  object-fit: contain;
  position: relative;
}

.modal__close_type_preview-image {
  background: none;
  align-self: end;
  position: relative;
  opacity: 1;
  top: 40px;
  left: 52.5px;
  z-index: 1;
}

.modal__title_type_preview-image {
  background-color: #212121;
  border-radius: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 8px 0 0;
  padding: 8px 4px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  max-width: fit-content;
  min-height: fit-content;
}

.modal__close:hover {
  opacity: 1;
}

.modal__close_type_preview-image:hover {
  opacity: 0.4;
}

.modal__header {
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  margin: 0;
}

.modal__content {
  display: flex;
  flex-direction: column;
  margin: 0 50px 32px;
}

@media screen and (max-width: 630px) {
  .modal__row {
    margin: 12px 12px 24px;
  }

  .modal__content {
    margin: 0 12px 12px;
  }

  .modal__header {
    font-size: 20px;
  }

  .modal__image {
    max-width: unset;
  }

  .modal__close_type_preview-image {
    top: -8px;
    left: 0;
  }

  .modal__title_type_preview-image {
    font-size: 16px;
  }
}
