.page {
  background-color: #fcf5e5;
  width: 100%;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-rows: 46px 1fr 136px;
  grid-template-columns: 16px 1fr 16px;
}
