.cards {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  border-bottom: 1px solid;
  padding-top: 20px;
}

.cards__list {
  display: grid;
  list-style: none;
  padding: 0;
  margin: 0;
  grid-template-columns: repeat(3, 413px);
  grid-template-rows: repeat(1, 1fr);
  row-gap: 40px;
  column-gap: 20px;
}

@media screen and (max-width: 1320px) {
  .cards__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 895px) {
  .cards {
    padding-bottom: 20px;
  }
  .cards__list {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
}
