.card {
  max-width: 413px;
  display: flex;
  flex-direction: column;
}

.card__image-container {
  display: flex;
  position: relative;
}
.card__image {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 8px;
  margin-bottom: 12px;
  cursor: pointer;
}

.card__content {
  display: flex;
  justify-content: space-between;
}

.card__text {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  max-width: 353px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-btn {
  opacity: 0.4;
  transition: 0.3s;
  border: none;
  background: transparent url(../images/like-icon.svg) center no-repeat;
  width: 23px;
  height: 20px;
  padding: 0;
  justify-self: end;
  align-self: center;
}

.card__like-btn_active {
  background-image: url(../images/liked-icon.svg);
  width: 22px;
  opacity: 1;
}

.card__delete-btn {
  color: #000;
  border: none;
  background: transparent url(../images/trash-icon.svg) center no-repeat;
  transition: 0.3s;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  align-self: flex-end;
  padding: 0;
}

.card__like-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.card__like-btn_active:hover {
  opacity: 0.5;
}

.card__delete-btn:hover {
  background-image: url(../images/trash-icon-hover.svg);
  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width: 895px) {
  .card__image {
    width: 100%;
  }

  .card__text {
    font-size: 16px;
    line-height: 1;
    white-space: wrap;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .card__like-btn {
    background-position: 0;
    background-size: contain;
    width: 20px;
    height: 18px;
  }
}
