.modal {
  background-color: #21212166;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition:
    visibility 0.4s ease,
    opacity 0.4s;
  padding: 0 10px;
  z-index: 0;
}

.modal_is-open {
  visibility: visible;
  opacity: 1;
  transition: 0.4s;
}

.modal__container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0;
  border-radius: 8px;
  max-width: 730px;
  flex-grow: 1;
  z-index: 1;
}

.modal__container_type_delete {
  max-width: 630px;
  max-height: 172px;
  position: relative;
}

.modal__row {
  display: flex;
  margin: 32px 50px 27px;
  align-items: center;
  justify-content: space-between;
}

.modal__row_type_delete {
  margin: 32px 20px;
  justify-content: center;
}

.modal__close {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #fff;
  padding: 0;
  margin: 0;
  opacity: 0.4;
  transition: 0.3s;
  cursor: pointer;
}

.modal__close_type_delete {
  position: absolute;
  align-self: flex-end;
  background-color: none;
  right: -52px;
  background: none;
  opacity: 1;
}

.modal__image-container {
  display: flex;
  flex-direction: column;
}

.modal__image {
  width: 100%;
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
  display: block;
  object-fit: contain;
  position: relative;
}

.modal__close_type_preview-image {
  background: none;
  align-self: end;
  position: relative;
  opacity: 1;
  top: 40px;
  left: 52.5px;
  z-index: 1;
}

.modal__title_type_preview-image {
  background-color: #212121;
  border-radius: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 8px 0 0;
  padding: 8px 4px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  max-width: fit-content;
  min-height: fit-content;
}

.modal__close:hover {
  opacity: 1;
}

.modal__close_type_preview-image:hover {
  opacity: 0.4;
}

.modal__header {
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  margin: 0;
}

.modal__header_type_delete {
  font-size: 24px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  margin: 0 50px 32px;
}

.modal__form_type_delete {
  flex-direction: row;
  justify-content: center;
  column-gap: 20px;
  row-gap: 12px;
  margin: 0;
}

.modal__field {
  display: flex;
  flex-direction: column;
}

.modal__input {
  line-height: 1;
  transition: 0.3s;
  border-radius: 8px;
}

.modal__input_type_text {
  width: 100%;
  border: 1px #21212166 solid;
  font-weight: 500;
  font-size: 20px;
  padding: 16px 12px;
  max-height: 52px;
  box-sizing: border-box;
  margin-top: 8px;
}

.modal__input_type_text::placeholder {
  color: #2121214d;
}

.modal__input_type_text:hover {
  border: 1px #212121 solid;
}

.modal__input_type_error {
  border-color: #ff000099;
}

.modal__error {
  visibility: hidden;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #ff0000b2;
}

.modal__error-visible {
  visibility: visible;
  margin-top: 8px;
}

.modal__label {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1;
  color: #212121b2;
  display: block;
  margin-bottom: 32px;
}

.modal__input_type_btn {
  background-color: #212121;
  color: #fcf5e5;
  max-width: 156px;
  border: none;
  cursor: pointer;
  padding: 18px 32px;
  font-size: 16px;
  box-sizing: border-box;
}

.modal__input_type_delete-btn {
  background-color: #ff6565;
  min-width: 156px;
  margin-bottom: 32px;
}

.modal__input_type_cancel-btn {
  min-width: 156px;
}

.modal__input_type_btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.modal__input_type_btn-disabled {
  opacity: 0.5;
  cursor: default;
}

.modal__input_type_btn-disabled:hover {
  cursor: default;
  opacity: 0.5;
}

@media screen and (max-width: 895px) {
  .modal__close_type_delete {
    top: -46px;
    right: 0;
  }
}

@media screen and (max-width: 630px) {
  .modal__container_type_delete {
    min-width: 100%;
    min-height: fit-content;
  }

  .modal__row {
    margin: 12px 12px 24px;
  }

  .modal__row_type_delete {
    margin: 12px 12px 20px;
  }

  .modal__form {
    margin: 0 12px 12px;
  }

  .modal__form_type_delete {
    flex-direction: column;
    align-items: center;
  }

  .modal__header {
    font-size: 20px;
  }

  .modal__header_type_delete {
    text-align: center;
    line-height: 1.2;
  }

  .modal__image {
    max-width: unset;
  }

  .modal__close_type_preview-image {
    top: -8px;
    left: 0;
  }

  .modal__title_type_preview-image {
    font-size: 16px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__input_type_text {
    max-height: 48px;
    font-size: 16px;
  }

  .modal__input_type_btn {
    min-width: 100%;
  }

  .modal__input_type_delete-btn {
    width: 156px;
    margin-bottom: 0;
  }

  .modal__input_type_cancel-btn {
    width: 156px;
  }
}
