.profile {
  display: grid;
  height: 190px;
  max-width: 1280px;
  margin: 34px 0 0;
  padding-bottom: 20px;
  border-bottom: 1px solid;
  grid-template-columns:
    minmax(80px, 190px)
    minmax(0, 420px)
    minmax(149px, 1fr);
  grid-template-rows:
    minmax(32px, max-content)
    minmax(28px, max-content)
    1fr;
  column-gap: 20px;
  justify-content: center;
}

.profile__avatar-container {
  position: relative;
  max-block-size: 190px;
  aspect-ratio: 1;
  grid-row: 1/5;
}

.profile__avatar {
  max-height: 190px;
  border-radius: 8px;
  aspect-ratio: 1;
}

.profile__name {
  margin: 0;
  color: #212121;
  grid-row: 1 / 2;
  grid-column: 2;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  margin: 12px 0 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #212121b2;
  grid-row: 2;
  grid-column: 2;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__btn {
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  border: none;
  transition: 0.3s;
}

.profile__btn_type_avatar {
  background: #21212166;
  border-radius: 8px;
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0 0 12px;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s,
    visibility 0.3s;
}

.profile__avatar-container:hover .profile__btn_type_avatar {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
  cursor: pointer;
}

.profile__btn_type_avatar::after {
  content: "Edit Avatar";
  color: white;
}

.profile__btn_type_profile {
  background: none;
  opacity: 0.7;
  grid-row: 3;
  grid-column: 2;
  justify-self: start;
  align-self: end;
  margin-top: 18px;
}

.profile__btn_type_profile:hover {
  cursor: pointer;
  opacity: 1;
}

.profile__btn_type_card {
  background-color: #212121;
  color: #fcf5e5;
  height: 52px;
  border-radius: 8px;
  grid-row: -1/ -3;
  grid-column: 3;
  width: 149px;
  place-self: end;
}

.profile__btn_type_card:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 630px) {
  .profile {
    height: min-content;
    margin-top: 20px;
    grid-template-rows: repeat(5, min-content);
    grid-template-columns: 100%;
    justify-items: center;
  }

  .profile__avatar-container {
    grid-row: 1;
    grid-column: 1;
    max-block-size: 80px;
  }

  .profile__avatar {
    height: 80px;
  }

  .profile__btn_type_avatar {
    background: #21212199;
    height: 24px;
    width: 24px;
    top: 52px;
    left: 52px;
    border-radius: 6px;
    padding: 4px;
    opacity: 1;
    visibility: visible;
  }

  .profile__btn_type_avatar::after {
    content: "";
  }

  .profile__name {
    grid-row: 2;
    grid-column: 1;
    font-size: 20px;
    margin: 12px auto 6px;
    text-align: center;
  }

  .profile__description {
    grid-row: 3;
    grid-column: 1;
    margin: 0;
    text-align: center;
  }

  .profile__btn_type_profile {
    grid-row: 4;
    grid-column: 1;
    margin: 32px 0 20px;
    justify-self: center;
  }

  .profile__btn_type_card {
    grid-row: 5;
    grid-column: 1;
    width: 100%;
  }
}
